
Aura/Binaries/Win64/Aura-Win64-DebugGame.exe
Aura/Binaries/Win64/Aura-Win64-DebugGame.exp
Aura/Binaries/Win64/Aura-Win64-DebugGame.lib
Aura/Binaries/Win64/Aura-Win64-DebugGame.pdb
Aura/Binaries/Win64/Aura-Win64-DebugGame.target
Aura/Binaries/Win64/AuraEditor-Win64-DebugGame.target
Aura/Binaries/Win64/D3D12/D3D12Core.dll
Aura/Binaries/Win64/D3D12/d3d12SDKLayers.dll
Aura/Binaries/Win64/OpenImageDenoise.dll
Aura/Binaries/Win64/UnrealEditor-Win64-DebugGame.modules
Aura/Binaries/Win64/UnrealEditor-Aura-Win64-DebugGame.pdb
Aura/Binaries/Win64/UnrealEditor-Aura-Win64-DebugGame.dll
Aura/Binaries/Win64/tbb.dll
Aura/Binaries/Win64/tbb.pdb
Aura/Binaries/Win64/tbb12.dll
Aura/Binaries/Win64/tbbmalloc.dll
Aura/Binaries/Win64/tbbmalloc.pdb
Aura/.vs/Aura/v17/Browse.VC.db
*.ipch
Aura/.vs/Aura/v17/Solution.VC.db
Aura/Intermediate/Build/Win64/x64/Aura/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h.pch
Aura/Intermediate/Build/Win64/x64/AuraEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.InclOrderUnreal5_0.h.pch
Aura/Intermediate/Build/Win64/x64/AuraEditor/Development/Engine/SharedPCH.Engine.Cpp20.InclOrderUnreal5_0.h.pch
Aura/Binaries/Win64/UnrealEditor-Aura.dll
Aura/Binaries/Win64/UnrealEditor-Aura.dll
Aura/Binaries/Win64/UnrealEditor-Aura.pdb
Aura/Binaries/Win64/UnrealEditor-Aura.dll
Aura/Intermediate/Build/Win64/UnrealEditor/Inc/Aura/UHT/AuraAttributeSet.gen.cpp
